{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Wind {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="content">Time</label>
        <input type="text" name="time"
                placeholder="time (2004-11-02T05:20:00.000Z)"
                class="form-control"
                value="{{ request.form['time'] }}"></input>
    </div>
    <div class="form-group">
        <label for="content">Wind</label>
        <input type="text" name="wind"
                placeholder="wind (250)"
                class="form-control"
                value="{{ request.form['wind'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}