{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Dataframe {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="dataframe">Dataframe</label>
        <input type="text" name="dataframe"
                placeholder="Dataframe (2004-11-02)"
                class="form-control"
                value="{{ request.form['dataframe'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}