{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Station {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="station_id">Station ID</label>
        <input type="text" name="station_id"
               placeholder="Station id"
               class="form-control"
               value="{{ request.form['station_id'] }}"></input>
    </div>

    <div class="form-group">
        <label for="station_name">Station Name</label>
        <input type="text" name="station_name"
                placeholder="Station name"
                class="form-control"
                value="{{ request.form['station_name'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}