{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit Station {{ station.station_id }} {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="station_id">Station ID</label>
        <input type="text" name="station_id"
               placeholder="Station id"
               class="form-control"
               value="{{ request.form['station_id'] or station.station_id }}"></input>
    </div>

    <div class="form-group">
        <label for="station_name">Station Name</label>
        <input type="text" name="station_name"
                placeholder="Station name"
                class="form-control"
                value="{{ request.form['station_name'] or station.name }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<form action="{{ url_for('delete_station', station_id=station.station_id) }}" method="POST">
    <input type="submit" value="Delete station"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this station?')">
</form>

{% endblock %}