{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit Wind {{ wind['wind'] }} {{ wind['time'] }} {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="time">Time</label>
        <input type="text" name="time"
                placeholder="time (2004-11-02T05:20:00.000Z)"
                class="form-control"
                value="{{ request.form['time'] or wind['time']}}"></input>
    </div>
    <div class="form-group">
        <label for="wind">Wind</label>
        <input type="text" name="wind"
                placeholder="wind (250)"
                class="form-control"
                value="{{ request.form['wind'] or wind['wind']}}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<form action="{{ url_for('delete_wind', station_id=station_id, dataframe=dataframe, wind_id=wind['id']) }}" method="POST">
    <input type="submit" value="Delete wind"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this wind?')">
</form>

{% endblock %}