{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Station list {% endblock %}</h1>
    {% for stat in stations %}
        <a href="{{ url_for('station', station_id=stat['station_id']) }}">
            <h2>{{ stat['station_id'] }}</h2>
        </a>
        <hr>
    {% endfor %}
{% endblock %}