{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ station.station_id }} {{ station.name }} {% endblock %} <a href="{{ url_for('edit_station', station_id=station.station_id) }}">
        <span class="badge badge-warning">Edit</span>
        </a></h2>
    <h3> Available Dataframes</h3>
    {% for df in dataframes %}
    <a href="{{ url_for('wind', station_id=station.station_id, dataframe=df['dataframe']) }}">
        <h2>{{ df['dataframe'] }}</h2>
    </a>
    <hr>
    {% endfor %}
    <br>
    <p align=right>
    <a href="{{ url_for('create_dataframe', station_id=station.station_id) }}">
        <span class="badge badge-warning">+</span>
    </a></p>
{% endblock %}