{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Station: {{ station }} Dataframe: {{ dataframe }} {% endblock %}</h2>
    <h3>Winds and times</h3>
    <table border="2px" cellpadding="2px" width="80%">
        <tr style="background-color: gray">
            <th>Direction</th>
            <th>Time</th>
        </tr>
    {% for wind in winds %}
        <tr>
            <td>{{ wind['wind'] }}</td><td>{{ wind['time'] }}</td><td><a href="{{ url_for('edit_wind', station_id=station, dataframe=dataframe, wind_id=wind['id']) }}">
                <span class="badge badge-warning">Edit</span>
                </a></td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    <br>
    <p align=right><a href="{{ url_for('create_wind', station_id=station, dataframe=dataframe) }}">
        <span class="badge badge-warning">+</span>
    </a></p>
{% endblock %}